-- Update password hashes for demo users
UPDATE users SET password_hash = '$2a$12$QM2EuzIqmTX56D63db0yyupjwsPgkRGgfkgMZUjIqTECVinUfRnHe' WHERE email IN ('admin@officeflow.com', 'manager@officeflow.com', 'user@officeflow.com');